@import './variables';
@import './reset';

.dashboard-title {
  margin: 20px auto;
  font-size: 35px;
}

#content {
  width: 85%;
  background-color: $bg-color;
  margin: 5px auto;
}

.rating {
  border: 1px solid #D7DCE0;
  border-radius:50%;
  display:inline-block;
  line-height:0px;
  font-size: 15px;

  span {
    display:inline-block;
    padding-top:50%;
    padding-bottom:50%;
    color:white;
    font-weight: 600;
    margin-left:8px;
    margin-right:8px;
  }

  &.selected {
    background-color: $circle-color;
  }

  &.not-selected {
    background-color: #F1F6FA;
    color: #F1F6FA;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  & .content {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  &:hover .content {
    visibility: visible;
  }

  & .content.bg-color {
    background-color: $primary-color;
    color: white;
    font-size: 20px;
    padding: 5px;
    width: 300px;
  }

  & .content > .title {
    margin: 10px;
  }
}

.dotted {
  border-bottom: 1px dotted black;
  cursor: pointer;
}

//color letra disabled #C6CBCF
