@import '~assets/scss/variables';

#filters {
  margin: 25px auto;
}

#ratings {
  display: inline-block;
  margin-left: 1em;

  .rating {
    margin-right: 5px;
    cursor: pointer;
    height: 25.5px;
    width: 25.5px;
    text-align: center;
    font-size: 19px;
  }
}

.filter-input {
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #D0D7DD;
  border-radius: 5px;
}
