<div>
  <div id="filters">
    <app-filter (filterChanged)="onFilterChanged($event)"></app-filter>
  </div>
  <table id="feed">
    <thead>
      <tr>
        <th style="text-align: center">Rating</th>
        <th>Country</th>
        <th>Comment</th>
        <th>Browser</th>
        <th>Device</th>
        <th>Platform</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedItem of feedItems">
        <td class="center">
          <span class="rating selected">
            <span>{{feedItem.rating}}</span>
          </span>
        </td>
        <td class="center">
            <div class="tooltip dotted">
              <img [src]="getCountryFlag(feedItem.geo?.country)" [alt]="feedItem.computed_location">
              <span class="content bg-color">
                <h2 class="title">{{feedItem.computed_location}}</h2>
                <img [src]="getMapUrl(feedItem.geo?.lat, feedItem.geo?.lon)" [alt]="feedItem.computed_location">
              </span>
            </div>
          </td>
        <td>
          <div class="tooltip dotted">
              {{getComment(feedItem.comment)}}
              <span class="content">
                  <img [src]="feedItem.images?.detail?.url" [alt]="feedItem.computed_location">
              </span>
          </div>

        </td>
        <td class="center">{{feedItem.computed_browser?.Browser}} {{feedItem.computed_browser?.Version}}</td>
        <td class="center">{{getDeviceLabel(feedItem)}}</td>
        <td class="center">{{feedItem.computed_browser?.Platform}}</td>

      </tr>
      <tr *ngIf="feedItems.length === 0">
        <h1>No feeds</h1>
      </tr>
    </tbody>
  </table>
</div>
