<div>
  <div id="filters">
    <usbl-filter></usbl-filter>
  </div>
  <table id="feed">
    <thead>
      <tr>
        <th style="text-align: center">Rating</th>
        <th>Comment</th>
        <th>Browser</th>
        <th>Device</th>
        <th>Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="center">
          <span class="rating">
            <span>100</span>
          </span>
        </td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus ipsum, fringilla eu augue ac, tempus lacinia massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent bibendum sed felis ac varius. Etiam consequat</td>
        <td class="center">Chrome 34.2</td>
        <td class="center">Desktop</td>
        <td class="center">OXS 1.0</td>
      </tr>
    </tbody>
  </table>
</div>
